.container{
    background: linear-gradient(180deg, #A578B6 0%, #C73478 174%);
    height:49.5rem;
    width:100%;
    padding: 2rem 0;

    > div{
        background: transparent;
        div:nth-child(2){

            button[tabIndex="0"]{
                box-shadow: 0 0 1px 3px var(--purple);  
                background-color: white;
            }

            button[tabIndex="-1"]{
                box-shadow: 0 0 1px 3px var(--purple);  
                background-color:var(--purple);
            }
        }
    }

    .wrapedCards{
        display: flex;
        justify-content:center;
        align-items: center;
        overflow: hidden;
        padding-top: 1rem;

        .card{
            display: flex;
            justify-content:center;
            flex-direction: column;
            height:38.7rem;
            width:30rem;
            background:#E3D5E8;
            border-top-left-radius:2rem;
            padding: 0 1.2rem;
            position: relative;

            div {
                z-index: 9;
                height: 100%;

                .aspas1{
                    position: absolute;
                    transform: scale(1.2) translate(5%, 9%);
                }
                .aspas2{
                    position: absolute;
                    transform: scale(1.2) translate(773%, 925%);
                }

                .aspasPadding{
                    padding:0 3rem; 
                }

            }
        }

        h1{
            color:hsl(330, 55%, 49%);
            font-style: normal;
            font-weight: normal;
            font-size: 3rem;
            line-height: 4rem;
            text-align: center;
            z-index: 9;
        }

        p{
            color:var(--purple);
            font-style: normal;
            font-weight: normal;
            font-size: 2rem;
            line-height: 4rem;
            z-index: 9;
        }

        svg {
            position: absolute;
            transform: scale(4.9) translate(35%, 2%) rotate(-28deg);
        }

        span:first-child {
            height: 7.9rem;
            width: 11.3rem;
            border-top-left-radius: 2rem;
            background: var(--purple);
            position: absolute;
            transform: translate(-90.9%, -205%);
        }

       span:nth-child(2) {
            height: 7.9rem;
            width: 11.3rem;
            background: var(--purple);
            position: absolute;
            -webkit-transform: translate(-90.9%, -205%);
            transform: translate(92.1%, 208%);
        }


    }

}

