.container{
    background: linear-gradient(180deg, #A578B6 0%, #C73478 174%);
    height:49.5rem;
    width:100%;
    padding: 2rem 0;

    // > div{
    //     background: transparent;
    //     div:nth-child(2){

    //         button[tabIndex="0"]{
    //             box-shadow: 0 0 1px 3px var(--purple);  
    //             background-color: white;
    //         }

    //         button[tabIndex="-1"]{
    //             box-shadow: 0 0 1px 3px var(--purple);  
    //             background-color:var(--purple);
    //         }
    //     }
    // }
}
.wrapedCards{
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    padding-top: 1rem;
}

.card{
    display: flex;
    justify-content:center;
    flex-direction: column;
    height:38.7rem;
    width:125rem;
    background:#E3D5E8;
    border-top-left-radius:2rem;
    padding: 0 1.2rem;
    position: relative;

    div {
        z-index: 9;
        height: 100%;

        
     
    }

}

.text{
    color:var(--purple);
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 4rem;
    z-index: 9;
}

.title{
    color:hsl(330, 55%, 49%);
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    z-index: 9;
}

.aspasPadding{
    padding:0 3rem; 
}

.aspas1{
    position: absolute;
    transform: scale(1.2) translate(5%, 9%);
}
.aspas2{
    position: absolute;
    transform: scale(1.2) translate(3952%, 45%);
}


.mySvg {
    position: absolute;
    transform:scale(5.9) translate(150%, -1%) rotate(-28deg);
}

.mySpan1{
    height: 7.9rem;
    width: 11.3rem;
    border-top-left-radius: 2rem;
    background: var(--purple);
    position: absolute; 
    transform: translate(-510%, -205%);
}

.mySpan2{
    height: 7.9rem;
    width: 11.3rem;
    background: var(--purple);
    position: absolute;
    transform: translate(511%, 208%);
}


@media (max-width: 1350px) {


    .card{
        width: 76rem;
    }
    .mySvg {
        
        transform: scale(5.9) translate(87%, -2%) rotate(-28deg);
    }
  
    .mySpan1{
        
        transform:translate(-293.9%, -205%);
    }
  
    .mySpan2{
        
        transform:translate(295.1%, 208%);
    }

    .aspas2 {
        transform:scale(1.2) translate(1633%, 215%);
    }
  }
  
  
  @media (max-width: 860px) {
  
    .card{
        width: 29.9rem;
        padding:0 1.8rem;
    }
  
    .mySvg {
        
        transform: scale(4.9) translate(33%, -2%) rotate(-28deg);
    }
  
    .mySpan1{
        
        transform:translate(-89.9%, -205%);
    }
  
    .mySpan2{
        
        transform:translate(91.1%, 208%);
    }

    .aspas2{
        transform: scale(1.2) translate(773%, 925%);
    }
  
  }
  
  @media (max-width: 280px){
    .container{
        height: 42.5rem;
    }

    .card{
        width: 21.9rem;
        height: 34rem;
    }
    .wrapedCards{
        margin: 0 2rem;
    }

    .mySpan1{
        transform: translate(-52.9%,-174%);
    }

    .mySpan2{
        transform: translate(53.1%,173%);
    }

    .title{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .aspasPadding{
        font-size: 1.7rem;
        line-height: 3rem;
        padding: 0px 1.6rem;
    }

    .mySvg{
        transform: scale(3.3) translate(28%,0%) rotate(-28deg);
    }

    .aspas1{
        transform: scale(1) translate(-41%,1%);
    }

    .aspas2{
        transform: scale(1) translate(602%,970%);
    }


}
