.body{
    background:linear-gradient(180deg, #C73478 0%, #A578B6 73%);
    transition: background 0.2s ease-in-out;

    header{
        display: flex;
        padding: 1.7rem 1.7rem 0 0;

    }
    
}

.logo{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: flex-end;
    margin-top: 1.4rem;
    padding: 0 2rem;
    align-items: center;
    grid-gap: 5rem;

    div{
        align-self: center;
    }
}
.presentation{
    justify-self: start;
    color:#FFFFFF;
    text-align: center;
    line-height: 4rem;
    font-size: 2.5rem;
    font-weight: normal;
    width: 32rem;
}


@media (max-width: 860px){
    .logo{
        display:flex;
        justify-content: center;
        flex-direction: column;
        grid-gap:unset;
    }

    .presentation{
        align-self: center;
        justify-self: none;
    }
}