.body{
    background:linear-gradient(180deg, #C73478 0%, #A578B6 73%);
    transition: background 0.2s ease-in-out;

    header{
        display: flex;
        padding: 1.7rem 1.7rem 0 0;

    }

    main{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1.4rem;
        flex-direction: column;
        padding: 0 2rem;

        .presentationText{
            color:#FFFFFF;
            text-align: center;
            line-height: 4rem;
            font-size: 2.5rem;
            font-weight: normal;
        }
    }
}


.default{
    background:linear-gradient(180deg, #C73478 0%, #A578B6 73%);
}
.white-purple-gradiente{
    background:#FFFFFF;
}
.purple-black-gradiente{
    background:#2E2727;
}
.purple-black-white{
    background:#2E2727;
}
.white-red-gradiente{
    background:#FFFFFF;
}
.white-red{
    background:#FFFFFF;
}
.white-red-purple{
    background:#FFFFFF;
}
.white-red-gradiente{
    background:#FFFFFF;
}
