.container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    background: linear-gradient(180deg, #b85193 0%, #A578B6 100%);
    padding-bottom: 1rem;

}

.card{
    height:41rem;
    width:30.6rem;
    background: #FFFFFF;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 2.8rem;

    
}

.text{
    color: #000000;
    width: 24.9rem;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}

.title{
    color: #FFFFFF;
    font-size: 3rem;
    width: 17rem;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

.image{
    align-items: center;
}

@media (max-width: 280px){

    .container{
        height: 49rem;
    }

    .card{
        height: 33rem;
        margin-bottom: 1.7rem;
        width: 21.9rem;
    }

    .title{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .text{
        font-size: 1.7rem;
        line-height: 2.2rem;
        width: 19.9rem;
    }

    .image{
        width:18rem;
        height:18rem;
    }

}
