.customSelect{
    border: none;
    color: var(--light-brown);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    position: relative;
    flex: 1 1;
    margin-left: 1.5rem;
   
   > input{
        background: transparent;
        border-style: none;
        width: 19rem;
        color:#FFFFFF;
    }

    input{
        cursor: pointer;
        font-size: 1.4rem;
    }

    
    >div{
        position: absolute;
        height: 28.5rem;
        width: 22rem;
        overflow: hidden;
        display: flex;

        .select{
            position: absolute;
            transition: all 0.5s ease-in-out;
            z-index: 10;
            display: flex;
            background: white;
            border-radius: 0.5rem;
            padding: 0.5rem;
            height: 28.5rem;
            border: 2px solid var(--violet);

            div:first-child{
                display: flex;
                flex-direction: column;
                width: 17.6rem;
            }

            div:nth-child(2){
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                span{
                    width: 2rem;
                    height: 2rem;
                    background: linear-gradient(180deg , #C73478 0%, #A578B6 59%);
                    border-radius: 2rem;
                    display: block;
                }
                span:first-child{
                    background: linear-gradient(180deg , #C73478 0%, #A578B6 59%);
                }

                span:nth-child(2){
                    background: linear-gradient(180deg, #722C8D 0%, #FFFFFF 70%);
                    border-bottom: 0.1px solid #141414;
                }

                span:nth-child(3) {
                    background:linear-gradient(180deg, #722C8D 0%, #2E2727 124%);
                }

                span:nth-child(4){
                    background:linear-gradient(180deg, #722C8D 33%, #2E2727 33% 66%, #FFFFFF 66%);
                    border-bottom: 0.1px solid #141414;
                }

                span:nth-child(5){
                    background:linear-gradient(180deg, #FD0D16 0%, #FFFFFF 70%);
                    border-bottom: 0.1px solid #141414;
                }

                span:nth-child(6){
                    background:linear-gradient(180deg, #FD0D16 50%, #FFFFFF 50%);
                    border-bottom: 0.1px solid #141414;
                }

                span:nth-child(7){
                    background:linear-gradient(180deg, #FFFFFF 33%, #FD0D16 33% 66%, #722C8D 66%);
                    border-top: 0.1px solid #141414;
                }

                span:nth-child(8){
                    background:linear-gradient(180deg, #FB3842 0%, rgba(114, 44, 141, 0.64) 100%);
                }
              
            }



            input{
                border-style: none;
                background: transparent;
                margin-top: 1.2rem;
                border-bottom: 0.5px solid var(--violet);
                color: var(--violet);
                transition: all 0.2s ease-in-out;
                margin-right: 0.4rem;
                border-top-left-radius: 0.4rem;
                border-top-right-radius: 0.4rem;

                &:hover{
                    background:#A578B6;
                    color:#FFFFFF;
                }
            }

           
        }
    }

    svg{
        height: 3rem;
    }

    
}

.showSelect{
    transform: translateY(0%)
}

.hiddenSelect{
    transform: translateY(-800%);
}