.container{
    background:#A578B6;
    height:49.5rem;
    width:100%;
    padding: 2rem 0;

}

.wrapedCards{
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    padding-top: 1rem;
    margin:0 5rem;
    
}

.card{
    display: flex;
    justify-content:center;
    flex-direction: column;
    height:38.7rem;
    width:125rem;
    background:#E3D5E8;
    border-top-left-radius:2rem;
    padding: 0 3rem;
    position: relative;
  
    div {
        z-index: 9;
        height: 100%;
  
    }
}

.mySvg {
    position: absolute;
    transform:scale(5.9) translate(150%, -1%) rotate(-28deg);
}

.mySpan1{
    height: 7.9rem;
    width: 11.3rem;
    border-top-left-radius: 2rem;
    background: var(--purple);
    position: absolute; 
    transform: translate(-510%, -205%);
}

.mySpan2{
    height: 7.9rem;
    width: 11.3rem;
    background: var(--purple);
    position: absolute;
    transform: translate(511%, 208%);
}

.title{
    color:hsl(330, 55%, 49%);
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    z-index: 9;
}

.text{
    color:var(--purple);
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 4rem;
    z-index: 9;
}

@media (max-width: 1350px) {


    .card{
        width: 76rem;
    }
    .mySvg {
        
        transform: scale(5.9) translate(87%, -2%) rotate(-28deg);
    }
  
    .mySpan1{
        
        transform:translate(-293.9%, -205%);
    }
  
    .mySpan2{
        
        transform:translate(295.1%, 208%);
    }
  }
  
  
  @media (max-width: 860px) {
  
    .card{
        width: 52.9rem;
        padding: 0 1.8rem;
    }
  
    .mySvg {
        
        transform: scale(5.9) translate(56%, -2%) rotate(-28deg);
    }
  
    .mySpan1{
        
        transform:translate(-192%, -205%);
    }
  
    .mySpan2{
        
        transform:translate(193.1%, 208%);
    }
  
    .text{
        font-size: 2.1rem;
    }
  }

@media (max-width: 650px){
    .container{
        height: 40.5rem;
    }

    .card{
        height: 34rem;
        width: 30.9rem;
    }
    .wrapedCards{
        margin: 0 3rem;
    }

    .mySpan1{
        transform:translate(-92.9%, -174%);
    }

    .mySpan2{
        transform:translate(93.1%, 173%);
    }

    .title{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .text{
        font-size: 1.9rem;
        line-height: 3rem;
    }

    .mySvg{
        transform:scale(4.3) translate(37%, 2%) rotate(-28deg);
    }
}

@media (max-width: 370px){
    .container{
        height: 40.5rem;
    }

    .card{
        height: 34rem;
        width: 21.9rem;
    }
    .wrapedCards{
        margin: 0 3rem;
    }

    .mySpan1{
        transform: translate(-52.9%,-174%);
    }

    .mySpan2{
        transform: translate(53.1%,173%);
    }

    .title{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .text{
        font-size: 1.7rem;
        line-height: 3rem;
    }

    .mySvg{
        transform: scale(3.3) translate(28%,0%) rotate(-28deg);
    }
}

