.body{
    background:linear-gradient(180deg, #C73478 0%, #A578B6 73%);
    transition: background 0.2s ease-in-out;

    header{
        display: flex;
        padding: 1.7rem 1.7rem 0 0;

    }
    
}

.logo{
    width: 100%;
    height: 49.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: flex-end;
    padding: 0 2rem;
    align-items: center;
    grid-gap: 5rem;

   
}

.image{
    align-self: center;
}
.presentation{
    justify-self: start;
    color:#FFFFFF;
    text-align: center;
    line-height: 4rem;
    font-size: 3rem;
    font-weight: normal;
    width: 35rem;
}


@media (max-width: 860px){
    .logo{
        display:flex;
        justify-content: center;
        flex-direction: column;
        grid-gap: 5rem;
    }

    .presentation{
        align-self: center;
        font-size: 2.5rem;
        width: 32rem;
        justify-self:none;
    }

    .image{
        width: 30rem;
        height: 23rem;
    }
}


@media (max-width: 640px){
    .logo{
        height: 42.5rem;
        grid-gap: unset;
    }

    .presentation{
        width: 27rem;
        line-height: 3rem;
        font-size: 2rem;
    }

    .image{
        width: 27rem;
        height:auto;
    }
}

@media (max-width: 370px){
    .logo{
        height: 42.5rem;
    }

    .presentation{
        width: 23rem;
        line-height: 3rem;
        font-size: 2rem;
    }

    .image{
        width: 23rem;
        height:auto;
    }
}